:root{
    --accent-color: #2196F3;
}
body{
    color: #757575;
}
h1,h2,h3,h4{
    color: #212121;
}
ul {
  list-style: none;  
}
.logo {
    color: #000000;
}
.logo-accent {
  color:  var(--accent-color);
}


.nav-link {
    color: #212121;
}
.current-pg {
    color: var(--accent-color);
}
.nav-link:hover,
.nav-link:focus {
    color: var(--accent-color);
}
.contact-list {
    color: #757575;
}

.contact-link:hover,
.contact-link:focus {
color: var(--accent-color);
}

.btn {
    color: #212121;
    background-color: #F5F4FA;
}

.btn:hover,
.btn:focus {
    color: #FFFFFF;
    background-color: var(--accent-color);
}